.LogIn {
    text-align: center;
  }
  
  .LogIn-header {
    background-color: #364f6b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .helpText {
    font-size: 12px;

  }
  .inputPrompt {
    font-size: 12px;
    opacity: 0.7;
    text-align: left;

  }
  
  #signBtn {
    background-color: #fc5185; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 3px;
    width: 40%;
  }
  #signBtn:active {
    background-color: #fc5185; 
    opacity: 0.5;
    
  }
  #logBtn {
    background-color: #3fc1c9; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 3px;
    width: 55%;
  }
  #logBtn:active {
    background-color: #3fc1c9; 
    opacity: 0.5;
  }

  .input {
    background-color: #364f6b;
    width: 88.5%;
    padding: 12px 20px;
    margin: 2px;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    
}