.WelcomePage {
    text-align: center;
  }
  
  .Welcome-header {
    background-color: #364f6b;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .helpText {
    font-size: 12px;

  }

  #placeOrderBtn {
    background-color: lightskyblue; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 3px;
    width: 55%;
  }
  
  #addAdressBtn {
    background-color: lightskyblue; 
    border: none;
    border-radius: 4px;
    color: white;
    padding: 25px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 3px;
    width: 55%;
  }